# copy this file to:
# sudo cp apache.conf.sample /etc/apache/other/bcpp_interview.conf
#
# Apache needs to load mod_wsgi. To configure add or uncomment in /etc/apache/http.conf
#
# LoadModule wsgi_module /usr/local/lib/python3.5/site-packages/mod_wsgi/server/mod_wsgi-py35.cpython-35m-darwin.so
#
# the apath above assumes you installed mod_wsgi with:
# pip3 install mod_wsgi
#

<VirtualHost *:80>
LogLevel info

ErrorLog "/var/log/apache2/bcpp-interview-error_log"
CustomLog "/var/log/apache2/bcpp-interview-access_log" common

Alias /robots.txt /Users/erikvw/source/bcpp-interview/bcpp_interview/static/robots.txt
Alias /favicon.ico /Users/erikvw/source/bcpp-interview/bcpp_interview/static/favicon.ico

Alias /static/ /Users/erikvw/source/bcpp-interview/bcpp_interview/static/
Alias /media/ /Users/erikvw/source/bcpp-interview/bcpp_interview/media/

<Directory /Users/erikvw/source/bcpp-interview/bcpp_interview/static>
Require all granted
</Directory>

<Directory /Users/erikvw/source/bcpp-interview/bcpp_interview/media>
Require all granted
</Directory>

WSGIDaemonProcess bcpp-interview python-path=/Users/erikvw/source/bcpp-interview:/Users/erikvw/.virtualenvs/bcpp-interview/lib/python3.5/site-packages
WSGIProcessGroup bcpp-interview
WSGIScriptAlias / /Users/erikvw/source/bcpp-interview/bcpp_interview/apache/wsgi.py process-group=bcpp-interview
# WSGIPythonPath /Users/erikvw/source/bcpp-interview:/Users/erikvw/.virtualenvs/bcpp-interview/lib/python3.5/site-packages

<Directory /Users/erikvw/source/bcpp-interview/bcpp_interview/apache>
<Files wsgi.py>
Require all granted
</Files>
</Directory>
</VirtualHost>