# add or uncomment in /etc/apache/http.conf
# LoadModule wsgi_module /usr/local/Cellar/mod_wsgi/4.4.11/libexec/mod_wsgi.so

WSGIScriptAlias / /Users/django/source/bcpp-interview/bcpp_interview/wsgi.py
WSGIPythonPath /Users/django/source/bcpp-interview
WSGIPythonPath /Users/django/source/bcpp-interview:/Users/django/.virtualenvs/bcpp-interview/lib/python3.5/site-packages

<Directory /Users/django/source/bcpp-interview/bcpp_interview>
<Files wsgi.py>
Require all granted
</Files>
</Directory>

