# copy this file to:
# sudo cp apache.conf.sample /etc/apache/other/bcpp_interview.conf
#
# Apache needs to load mod_wsgi. To configure add or uncomment in /etc/apache/http.conf
#
# LoadModule wsgi_module /usr/local/Cellar/mod_wsgi/4.4.11/libexec/mod_wsgi.so
#
# the apath above assumes you installed mod_wsgi with:
# brew install homebrew/apache/mod_wsgi
# You may need to check the path to the mo_wsgi.so file: 
# file `brew list mod_wsgi`
#

WSGIScriptAlias / /Users/django/source/bcpp-interview/bcpp_interview/wsgi.py
WSGIPythonPath /Users/django/source/bcpp-interview
WSGIPythonPath /Users/django/source/bcpp-interview:/Users/django/.virtualenvs/bcpp-interview/lib/python3.5/site-packages

<Directory /Users/django/source/bcpp-interview/bcpp_interview>
<Files wsgi.py>
Require all granted
</Files>
</Directory>

