{% extends "edc_base/base.html" %}
{% load staticfiles %}

{% block main %}
<div class="container">

    <div id="div-home" class="col-md-4">
        <ul id="nav-pill-home" class="nav nav-pills nav-stacked">
          <li class="active"><a href="#" disabled">Home 
                <span class="glyphicon glyphicon-home pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-call-manager" href="#">Call Subjects
                <span class="glyphicon glyphicon-earphone pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-potential-subjects" href="#">Potential Subjects
                <span id="bdg-potential-subjects" class="badge pull-right"></span>
                <span class="fa fa-user fa-2x pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-nurses" href="#">Nurses
                <span id="bdg-nurses" class="badge pull-right"></span>
                <span class="fa fa-user-md fa-2x pull-right" aria-hidden="true"></span>

          </a></li>
          <li><a id="pill-groups" href="#">Focus Groups
                <span class="fa fa-users fa-2x pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-idi" href="#">In-depth Interviews (IDI)
                <span class="glyphicon glyphicon-record pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-fgd" href="#">Focus Group Discussions (FGD)
                <span class="glyphicon glyphicon-record pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-listen-idi" href="#">Listen to IDI
                <span class="glyphicon glyphicon-volume-up pull-right" aria-hidden="true"></span>
          </a></li>
          <li><a id="pill-listen-fgd" href="#">Listen to FGD
                <span class="glyphicon glyphicon-volume-up pull-right" aria-hidden="true"></span>
          </a></li>
          <li class="dropup">
            <a id="pill-verify-consent" class="dropdown-toggle" data-toggle="dropdown" href="#">Consent Verification
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Consent Verification</li>
              <li><a id="link-verify-consent-subjects" href="#">Subjects</a></li>
              <li><a id="link-verify-consent-nurses" href="#">Nurses</a></li>
          </ul>
          </li>
          <li class="dropup">
            <a id="pill-home-help" class="dropdown-toggle" data-toggle="dropdown" href="#">Help
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Help</li>
              <li><a id="pill-help-consent" href="#">Consent Potential Subjects</a></li>
              <li><a id="pill-help-fgd-create" href="#">Create Focus Group</a></li>
              <li><a id="pill-help-fgd-add" href="#">Add to existing Focus Group</a></li>
              <li><a id="pill-help-idi" href="#">In-depth Interviews</a></li>
              <li><a id="pill-help-fgd" href="#">Focus Group Discussions</a></li>
           </ul>
           </li>
          <li><a id="pill-audio-recordings" href="#">Audio Recording Home
                <span class="glyphicon glyphicon-volume-up pull-right" aria-hidden="true"></span>
          </a></li>
          <li class="dropup">
            <a id="pill-home-help" class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
                <span class="caret pull-right"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Administration</li>
              <li><a id="pill-admin-edc_consent" href="{% url 'admin:app_list' 'edc_consent' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Consent</a></li>
              <li><a id="pill-admin-edc_content_type_map" href="{% url 'admin:app_list' 'edc_content_type_map' %}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Content Types</a></li>
              <li><a id="pill-admin-encryption" href="{% url 'encryption_admin:app_list' 'django_crypto_fields' %}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Encryption</a></li>
              <li><a id="pill-admin-sync" href="{% url 'edc_sync_home_url' %}"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Synchronization</a></li>
           </ul>
          </li>
        </ul>
    </div>
    <div id="div-home" class="col-md-4">
        <div class="panel panel-warning">
          <!-- Default panel contents -->
            <div class="panel-heading">Worklist
              <a id="link-refresh" href=""><i id="bdg-refresh" class="fa fa-refresh fa-1x fa-fw pull-right"></i></a>
            </div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-not-contacted" href="#">Subjects never contacted<span id="bdg-not-contacted" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-contacted-retry" href="#">Subjects contacted, try again<span id="bdg-contacted-retry" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-not-consented" href="#">Subjects not consented<span id="bdg-not-consented" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-not-interviewed" href="#">Subjects not interviewed<span id="bdg-not-interviewed" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-idi-not-verified" href="#">IDIs not verified<span id="bdg-idi-not-verified" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-fgd-not-verified" href="#">FGDs not verified<span id="bdg-fgd-not-verified" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Administration</div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-pending-transactions" href="#">Pending transactions<span id="bdg-pending-transactions" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>



        </div>
    <div id="div-home" class="col-md-4">
        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading"><span id="today">Today</span><span id="todays-date" class="pull-right"></span></div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-contacted-today" href="#">Contacted<span id="bdg-contacted-today" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-consented-today" href="#">Consented<span id="bdg-consented-today" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-idi-complete-today" href="#">IDIs complete<span id="bdg-idi-complete-today" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-fgd-complete-today" href="#">FGDs complete<span id="bdg-fgd-complete-today" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading">Overall</div>
            <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a id="link-consented" href="#">Consented<span id="bdg-consented" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-idi-complete" href="#">IDIs complete<span id="bdg-idi-complete" class="badge pull-right"></span></a></li>
            <li role="presentation"><a id="link-fgd-complete" href="#">FGDs complete<span id="bdg-fgd-complete" class="badge pull-right"></span></a></li>
            </ul>
            </div>
        </div>
        </div>

</div>
{% endblock main %}

{% block extra-scripts-bottom %}
{{ block.super }}

<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
        var d = new Date();
        $('#todays-date').text(d.toDateString());
        $('#link-pending-transactions').attr('href', '{% url "edc_sync_admin:edc_sync_outgoingtransaction_changelist" %}');
        $('#bdg-refresh').click( function(e) {
            e.preventDefault();
            updateBadges();
          });

        updateBadges();            

        updatePillLinks();    

        updatePotentialSubjectLinks();
        
        updateVerifyConsentLinks();

        callUrl = '{% url 'call_manager_admin:call_manager_call_changelist' %}';
        updateCallLinks(callUrl);

        idiUrl = '{% url "recording_admin:bcpp_interview_interviewrecording_changelist" %}';
        fgdUrl = '{% url "recording_admin:bcpp_interview_groupdiscussionrecording_changelist" %}';
        updateRecordLinks(idiUrl, fgdUrl);
    });
    
    function updatePillLinks() {
        $('#pill-potential-subjects').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:bcpp_interview_potentialsubject_changelist' %}';
            });
        $('#pill-nurses').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:bcpp_interview_nurseconsent_changelist' %}';
            });
        $('#pill-idi').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:bcpp_interview_interview_changelist' %}';
            });
        $('#pill-groups').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:bcpp_interview_focusgroup_changelist' %}';
            });
        $('#pill-fgd').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'admin:bcpp_interview_groupdiscussion_changelist' %}';
            });
        $('#pill-listen-idi').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'recording_admin:bcpp_interview_interviewrecording_changelist' %}';
            });
        $('#pill-listen-fgd').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'recording_admin:bcpp_interview_groupdiscussionrecording_changelist' %}';
            });
        $('#pill-call-manager').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'call_manager_admin:call_manager_call_changelist' %}';
            });
        $('#pill-audio-recordings').click( function(e) {
            e.preventDefault();
            window.location.href='{% url 'edc_audio_recording_home_url' %}';
            });
    }
    
    function updateCallLinks(callUrl) {
        
        $('#link-not-contacted').attr('href', callUrl+'?call_status__exact=NEW');
        $('#link-contacted-retry').attr('href', callUrl+'?call_status__exact=open');
        $('#link-contacted-today').attr('href', callUrl+'?call_status__exact=open&'+todayString('modified'));
    }

    function updateRecordLinks(idiUrl, fgdUrl) {
        $('#link-idi-complete').attr('href', idiUrl+'?verified__exact=Yes');
        $('#link-idi-complete-today').attr('href', idiUrl+'?verified__exact=Yes&'+todayString('modified'));
        $('#link-fgd-complete').attr('href', fgdUrl+'?verified__exact=Yes');
        $('#link-fgd-complete-today').attr('href', fgdUrl+'?verified__exact=Yes&'+todayString('modified'));
        $('#link-idi-not-verified').attr('href', idiUrl+'?verified__exact=No');
        $('#link-fgd-not-verified').attr('href', fgdUrl+'?verified__exact=No');
    }

    function todayString(column) {
        var d = new Date();  //timestamp
        var da = d.getDate();   //day
        var mon = d.getMonth() + 1;   //month
        var yr = d.getFullYear();   //year
        return column+'__day='+da+'&'+column+'__month='+mon+'&'+column+'__year='+yr;
    } 

    function updateVerifyConsentLinks() {
        url = '{% url 'admin:bcpp_interview_subjectconsent_changelist' %}';
        $('#link-verify-consent-subjects').attr('href', url+'?is_verified__exact=0');
        url = '{% url 'admin:bcpp_interview_nurseconsent_changelist' %}';
        $('#link-verify-consent-nurses').attr('href', url+'?is_verified__exact=0');
    }

    function updatePotentialSubjectLinks() {
        url = '{% url 'admin:bcpp_interview_potentialsubject_changelist' %}'
        $('#link-not-consented').attr('href', url+'?consented__exact=0');
        $('#link-not-interviewed').attr('href', url+'?interviewed__exact=0');
        $('#link-consented').attr('href', url+'?consented__exact=1');
        $('#link-interviewed').attr('href', url+'?interviewed__exact=1');
        $('#link-consented-today').attr('href', url+'?consented__exact=1&'+todayString('modified'));
        $('#link-interviewed-today').attr('href', url+'?interviewed__exact=1&'+todayString('modified'));
    }
    
    function updateBadges() {
        $("#bdg-refresh").addClass('fa-spin');
        $.ajax({
            type:'GET',
            url: {% url 'update-statistics' %},
            success:function(json){
                $("#bdg-potential-subjects").text(json.potential_subjects);
                $("#bdg-not-contacted").text(json.not_contacted);
                $("#bdg-contacted-retry").text(json.contacted_retry);
                $("#bdg-not-consented").text(json.not_consented);
                $("#bdg-not-interviewed").text(json.not_interviewed);
                $("#bdg-consented-today").text(json.consented_today);
                $("#bdg-contacted-today").text(json.contacted_today);
                $("#bdg-idi-complete-today").text(json.idi_complete_today);
                $("#bdg-fgd-complete-today").text(json.fgd_complete_today);
                $("#bdg-consented").text(json.consented);
                $("#bdg-idi-not-verified").text(json.idi_not_verified);
                $("#bdg-fgd-not-verified").text(json.fgd_not_verified);
                $("#bdg-idi-complete").text(json.idi_complete);
                $("#bdg-fgd-complete").text(json.fgd_complete);
                $("#bdg-pending-transactions").text(json.pending_transactions);
                $("#bdg-refresh").removeClass('fa-spin');
              },
        });
    return true;
    }
 
</script>
{% endblock extra-scripts-bottom%} 