{% extends "base.html" %}

{% block main %}
<p></p>

<div class="container" align="center">

    <div class="col-sm-4">
        <div class="container marketing">
            <ul id="pill-home" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#" disabled"><span id="pill-protocol">Home</span></a></li>
              <li><a id="pill-consent" href="#" onclick="">Consent Subjects</a></li>
              <li><a href="#" onclick="return resultedHome();">Interview a Subject</a></li>
              <li><a href="#" onclick="return storedHome();">Start a Group Discussion</a></li>
            </ul>
        </div><!-- /.container -->   
    </div>

</div>

<div id="div-consent" align="center">
<table id="tbl-consent" class="display" cellspacing="0" width="100%" style="display:none">
</table>            
</div>

{% endblock main %}
      

{% block extra-scripts-bottom %}
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {

    location.queryString = {};
    location.search.substr(1).split("&").forEach(function (pair) {
        if (pair === "") return;
        var parts = pair.split("=");
        location.queryString[parts[0]] = parts[1] &&
            decodeURIComponent(parts[1].replace(/\+/g, " "));
    });

    $("#pill-consent").click(
        function () {
            $("#div-consent").toggle();
        }
     );
    
    $("#tbl-consent").show();
    $('#tbl-consent').DataTable( {
            dom: 'Bfrtip',
            processing: false,
            select: true,
            ajax: {
                "url": "{% url "consent" %}",
                "dataType": "json",
                "contentType": "application/json",
                "dataSrc": "",
                },
            "columns": [
                { "data": null, "defaultContent": "" },
                { "title": "subject", "data": null,
                  "render": function ( data, type, full, meta ) {
                      var add_url = '/admin/'+data.model.replace('.', '/')+'/add/';
                      var change_url = '/admin/'+data.model.replace('.', '/')+'/'+data.pk+'/change/'; 
                      if (data.fields.subject_consent != '') {
                          url = change_url;
                      } else {
                          url = add_url;
                      }
                      return '<a href="'+url+'?next_url=home">'+data.fields.subject_identifier+'</a>';
                    }
                },
                { "title": "identity", "data": "fields.identity" },
                { "title": "first-name", "data": "fields.first_name" },
                { "title": "last-name", "data": "fields.last_name" },
                { "title": "initials", "data": "fields.initials" }
            ],
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets: 0
                } ],            
            select: {
                style:    'os',
                selector: 'td:first-child'
                },
            order: [[ 1, 'asc' ]]
        } );
} );

</script>
{% endblock %}
